/.vs
/dll
/packages
/TensorShader/bin
/TensorShader/obj
/TensorShaderCudaBackend/bin
/TensorShaderCudaBackend/obj
/TensorShaderCudaBackendTest/bin
/TensorShaderCudaBackendTest/obj
/TensorShaderPreset/bin
/TensorShaderPreset/obj
/TensorShaderSample/MNIST/bin
/TensorShaderSample/MNIST/obj
/TensorShaderSample/SearchMinimum/bin
/TensorShaderSample/SearchMinimum/obj
/TensorShaderTest/bin
/TensorShaderTest/obj
/TensorShaderUtil/bin
/TensorShaderUtil/obj
/TensorShaderUtilTest/bin
/TensorShaderUtilTest/obj
